  <div class="small-10 large-centered columns">
    <div class="row">
    <% @periods.each do |p| %>
    <div class="large-4 columns panel">
      <h3 class="subheader">Period <%= p.period_number%></h3> 
      <p><b>BCWS: </b><%= p.bcws%></p> 
      <p><b>BCWP: </b><%= p.bcwp%></p> 
      <p><b>ACWP: </b><%= p.acwp%></p>
      <p><b>CPI: </b><%= (p.bcwp / p.acwp).round(3)%></p>
      <p><b>SPI: </b><%= (p.bcwp / p.bcws).round(3)%></p>
      <%= link_to "Edit Period", edit_project_schedule_period_path(@project, @schedule, p), class: "button round" %> 
    </div>
    <%end%>    
  </div>
</div>
