<h1><%= @project.name %></h1>
<h2>Project Starts On <strong><%=@project.schedule.start_date.strftime("%A, %B %e, %Y ")%></strong>,</h2>
<h2>and Ends On <strong><%=@project.schedule.end_date.strftime("%A, %B %e, %Y ")%></strong></h2>
<div class="row">
  <div class="large-9 columns">
    <div id="chart" style="width: 100%; height: 300px;"></div>
  </div>

  <div class="large-3 columns">
    <div class="panel" style="width: 100%; height: 300px;">
      <%= link_to "Update Period 1", edit_project_schedule_period_path(@project, @schedule, @schedule.periods.first), class: "button round" %>
    </div>
  </div>
</div>
<p> BCWS <%= @bcws %></p> 
<p> BCWP <%= @bcwp %></p> 
<p> ACWP <%= @acwp %></p> 